<% content_for :heading do %>
  <h1>About</h1>
<% end %>

<p>This is an example site for learning
about ruby on rails.</p>
<p>It's also a hommage to <a href="https://portfolio.multimediatechnology.at/projects/2012-social-cookin">an old project 
  by Christian Lehner</a>.</p>

