<% content_for :heading do %>
  <h1>Willkommen bei Cooking on Rails</h1>
<% end %>
<p>Wer kennt folgendes Problem nicht? Der Kühlschrank ist voll, 
aber Sie haben keine Ahnung, was man mit den ganzen Zutaten alles machen kann? </p>
<p>Genau bei diesem Problem soll Cookin' on Rails helfen:</p>
<p> Geben Sie Zutaten ein, die Sie zu Hause haben und Cookin' on Rails
durchsucht eine Datenbank ob es zu Ihren Zutaten ein passendes Rezept 
gibt. Oder Sie erstellen einfach selbst Rezepte, die Sie mit anderen teilen möchten. </p>

<p><span class="glyphicon glyphicon-star"></span> <i>look at <a href="/todo">todo</a></i></p>


<button data-hello="world">Hello World</button>
