<% content_for :heading do %>
  <h1>Welcome to Cookin' on Rails</h1>
<% end %>

<p>
  Who doesn't know this problem: the fridge is full, but you
  have no idea what to cook from all these ingredients?
</p>
<p><%= image_tag 'ingredients.jpg', alt: 'the fridge' %></p>
<p>
  This is where Cookin' on Rails can help you:<br>
</p>
<p>
  You can check all the ingredients you have at home
  and Cookin' on Rails searches the database for recipes you
  can cook from them.
  Or you can share you own recipes on this platform.
</p>

