<% content_for :heading do %>
  <h1>The Javascript Playground</h1>
<% end %>


<p>This is an implementation of the code-exapmle for
  <a href="https://backend-development.github.io/javascript_and_ajax.html#unobtrusive-javascript">unobstrusive javascript</a> in the chapter on 
  <a href="https://backend-development.github.io/javascript_and_ajax.html#unobtrusive-javascript">JavaScript and AJAX in Rails</a>.</p>


<p>
<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>
</p>


<p>This is the button for <a href="/todo">todo no 4</a></p> 


<p><button data-hello="world">Hello World</button></p>

